.app {
    background: #6C8670;
    .intro-text {
      font-family: monospace;
      color: white;
    }
  }

  .todos-container {
    h5 {
      background-color: grey;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
  }