// * {
//   box-sizing: border-box;
//   top: 0;
//   left: 0;
//   margin: 0;
//   padding: 0;
// }

body, html {
  height: 100%;
  width: 100%;
  background: #6C8670;
}

.feedback {
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}

.app {
    .intro-text {
      font-family: monospace;
      color: white;
    }
  }


  input {
    padding: 5px;
    margin-top: 20px;
  }

  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: 80%;
    padding: 5px;
    text-align: center;
    background-color: grey;
  }

  .item {
    display: flex;
    flex-direction: row;
  }

  button {
    width: 70px;
    height: 30px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .spinner {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50% 10%;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    top: 0;
    right: 10px;
  }